# Basics of Python

In [1]:
print("Hello LetsUpgrade")

Hello LetsUpgrade

In [2]:
print("Hello \
python")

Hello python

In [3]:
print("""Welcome to python
class
Day-2 session""")

Welcome to python
class
Day-2 session

In [4]:
print('hello world')

hello world

In [5]:
print("python's world")

python's world

In [6]:
print("Hello\tpython")

Hello	python

In [7]:
print("Hello\npython")

Hello
python

In [12]:
name = "Sagar Swami Rao"
age = 22
marks = 99.96
print("The name of person is",name,"marks is",marks,"age is",age)

The name of person is Sagar Swami Rao marks is 99.96 age is 22

In [13]:
print("the name of person is %s, marks is %f and age is %d"%(name, marks, age))

the name of person is Sagar Swami Rao, marks is 99.960000 and age is 22

In [14]:
print("the name of person is %5s, marks is %10.1f and age is %d"%(name, marks, age))

the name of person is Sagar Swami Rao, marks is      100.0 and age is 22

# Arithmetic Operators

In [15]:
152+523

675

In [16]:
425-125

300

In [17]:
41*14

574

In [18]:
254/25

10.16

In [19]:
254//25

10

In [20]:
142%14

2

In [21]:
8**3

512

In [22]:
2**10

1024

# Comparision or Relational Operations

In [23]:
4652>12545

False

In [24]:
145525!=12553

True

In [25]:
145256>=14524

True

In [26]:
a=142
b=412
c=146

In [27]:
a == c

False

In [28]:
a >= b

False

In [29]:
b >= c

True

# Assignment operators

In [30]:
a+=100

In [31]:
a

242

In [32]:
b*=200
print(b)

82400

In [33]:
c/=100
print(c)

1.46

# Bitwise operators

In [34]:
bin(a)

'0b11110010'

In [35]:
a = 10
bin(a)

'0b1010'

In [36]:
b= 8
bin(b)

'0b1000'

In [37]:
bin(1024)

'0b10000000000'

# Logical Operators

In [38]:
a=145
b=214
c=635

In [39]:
print(a>b and a>c)

False

In [40]:
print(a>b or a>c)

False

In [41]:
print(b>a and b>c)

False

In [42]:
print(b>a or b>c)

True

In [43]:
not b>c

True

In [44]:
not b>a

False

In [45]:
str1 = "Python programming"
"r" in str1

True

In [46]:
"m"  not in str1

False

In [47]:
" " in str1

True

In [49]:
a = 25
b = 25
print(id(a),id(b))

140730971432080 140730971432080